h1 {
    color: rgb(173, 181, 189);
    text-align: center;
}

h3 {
    color: rgb(173, 181, 189)
}

body {
    background-color: rgb(33, 37, 41);
}

button {
    background-color:rgb(108, 117, 125);
}